<p id="notice" ><font color="green"><b><%= notice %></b></font></p>

<p>
	<strong>Nane:</strong>
	<%= @book.name %>
</p>

<p>
	<strong>Author:</strong>
	<%= @book.author %>
</p>

<p>
	<strong>Price:</strong>
	<%= @book.price %>
 </p>
 <p>
 	<strong>Comments:</strong>
 	<%= @book.comment %>
 </p>


<%= link_to 'edit',edit_book_path(@book) %>
<%= link_to 'back',book_index_path %>